In [1]:
import pandas as pd
import numpy as np
import datetime
from sympy import isprime

data = pd.read_csv("tasks.csv", index_col=0)
data.head()

,num1,num2,num3,date1,date2,date3
1,14,54,"0 ,481208997226 7124",Mon Aug 6 07:11:19 2018,2026-07-19 08:15:41.695463,10-04-2011
2,12,55,0 .9092218987487982,Thu Dec 1 01:32:03 2016,2006-08-06 16:18:39.172100,08-28-2006
3,25,2,0. 3268611158564687,Wed Aug 2 22:37:44 2028,2020-11-08 10:08:31.158667,11-21-2019
4,53,3,0. 38081302402434 647,Thu Feb 19 06:32:31 2009,2015-01-13 21:46:36.390139,06-26-2010
5,48,4,"0 , 7685621545518444",Wed Nov 19 04:33:36 2025,2030-09-24 00:13:00.613749,12-03-2011

In [2]:
print("Количество четных чисел в столбце:")
print((data.num1 % 2 == 0).sum())

Количество четных чисел в столбце:
507

In [3]:
print("Количество простых чисел в столбце:")
data["num2"] = data["num2"].apply(isprime)
print(data["num2"].sum())

Количество простых чисел в столбце:
168

In [4]:
print("Количество чисел меньше 0.5 в столбце:")
data["num3"] = data["num3"].str.replace(" ", "")
data["num3"] = data["num3"].str.replace(",", ".")
data["num3"] = data["num3"].astype(float)
print((data.num3 > 0.5).sum())

Количество чисел меньше 0.5 в столбце:
515

In [5]:
print("Количество вторников в столбце")
print(data.date1.str.contains("Wed").sum())

Количество вторников в столбце
151

In [6]:
print("Количество вторников в столбце:")
data["date2"] = pd.to_datetime(data["date2"])
print((data.date2.dt.dayofweek == 1).sum())

Количество вторников в столбце:
138

In [7]:
print("Количество последних вторников месяца в столбце:")
data["date3"] = pd.to_datetime(data["date3"])
print(((data.date3.dt.dayofweek == 1) & (data.date3.dt.days_in_month - data.date3.dt.day < 7)).sum())

Количество последних вторников месяца в столбце:
43